<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4>Connectez-vous avec nous :</h4>
        <ul class="list-inline social-buttons">
          <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <!-- Ajoutez d'autres boutons pour les médias sociaux selon vos besoins -->
        </ul>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12 text-center">
        <h5>Centre National des Sciences et Technologies Nucléaires</h5>
        <p>Encadré par : Abdelkader Hamrouni</p>
        <p>Réalisé par : Mohamed Aziz Akkari</p>
        <p>Pôle Technologique - 2020 Sidi Thabet BP 72</p>
        <p>Tél. : +216 71 537 544 / 71 537 410</p>
        <p>Fax : +216 71 537 555</p>
        <p>Email : official@cnstn.rnrt.tn</p>
      </div>
    </div>
  </div>
</footer>
