

<section id="contact">
    <div class="container">
      <div class="well well-sm">
        <h3><strong>Contact </strong></h3>
      </div>
      
      <div class="row">
        <div class="col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3189.800441910741!2d10.076963376300569!3d36.91903546099107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2d2788a2387d5%3A0x9f2d4e466d1d7dc5!2sCNSTN!5e0!3m2!1sfr!2stn!4v1708088160402!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
  
        <div class="col-md-5">
            <h4><strong>CONTACTEZ-NOUS</strong></h4>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" name="" value="" placeholder="Entrez votre nom :">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="" value="" placeholder="Saisissez votre adresse e-mail :">
            </div>
           
           
            <div class="form-group">
              <textarea class="form-control" name="" rows="3" placeholder="Saisissez votre message :"></textarea>
            </div>
            <button class="btn btn-default" type="submit" name="button">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Envoyer
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>