

<div class="container  text-center">
    <h1>Liens utiles</h1>
    <p></p>      
    <p></p>      
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading  text-center" >Technopôles </div>
            <div class="panel-body">
                <ul>
                    <li><a href="https://www.iaea.org/">Agence International de l'Energie Atomique</a></li>
                    <li><a href="https://www.iaea.org/resources/databases/inis">inis</a></li>
                    <li><a href="https://www.cea.fr/">Commissariat à l'Energie Atomique</a></li>
                    <li><a href="http://www.elgazalacom.nat.tn/">Technopôle Ghazala</a></li>
                    <li>  <a href="http://www.biotechpole.rnu.tn/">Technopôle de Sidi Thabet</a></li>
                    <li><a href="http://pcrcovid.tn/">Plateforme Diagnostic & Recherche (PDR)</a></li>
                    <li><a href="http://www.ecopark.rnrt.tn/">Technopôle Borj Cédria </a></li>
                     <li><a href="http://www.technopole-sousse.rnrt.tn/">Technopôle Sousse </a></li>
                    <li><a href="http://www.texpark.rnrt.tn/">Technopôle de Monastir </a></li>
                    <li><a href="http://www.technopole-sfax.rnrt.tn/">Technopôle de Sfax
                    </a></li>
                </ul>
            
            </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading text-center">Etablissements Sous-tutelle</div>
            <div class="panel-body">
                <ul>
               <li> <a href="http://www.anme.nat.tn/">Agence National pour la Maîtrise de l'Energie</a></li>
               <li><a href="http://www.citet.nat.tn/">Centre International des Technologies de l'Environnement</a></li> 
               <li> <a href="http://www.instm.nat.tn/">Institut National des Sciences de la Mer</a></li>
              <li><a href="http://www.inrap.rnrt.tn/">Institut National de Recherche et d’Analyse Physico-Chimique</a></li> 
              <li> <a href="https://crmn.rnrt.tn/public/">Centre d'Etudes et de Recherches Economiques et Sociales (CERES) </a></li>
              <li> <a href="http://www.cbs.rnrt.tn/">Centre de Biotechnologie de Sfax (CBS)</a></li>
              <li> <a href="https://www.cnudst.rnrt.tn/">Centre National de Documentations Scientifiques et Techniques (CNUDST)
            </a></li>
            </ul>
            </div>
        </div>
    </div>
    </div>
  </div>